!*.png

/*.xml
*.prim
*/*.eps
*/*/*.eps
*/*/*.png
*/*/*.pdf
*.root
build/*
*/*.pyc
**.pyc

lib/
share/

images/*

accelerator
eic_ip6
eic
ip6_build

*.swp

fieldmaps/
gdml/
calibrations/

manifest.txt
acts.txt
acts2.txt

materials-map.cbor

# local install directories
prefix/
lib/
share/
setup.sh

# jekyll
Gemfile.lock
vendor/
.bundle
.jekyll-cache/
.jekyll-metadata
.sass-cache/
_site/

compile.bash
install/
.DS_Store
