!*.png

*.prim
*/*.eps
*/*/*.eps
*/*/*.png
*/*/*.pdf
*.root
build/*
.DAWN*
*/*.pyc
**.pyc

images/*
doc/*

accelerator
eic_ip6
eic
ip6_build
ip6

*.swp

fieldmaps

manifest.txt
acts.txt
acts2.txt

materials-map.cbor
