!*.png

/*.xml
*.prim
*/*.eps
*/*/*.eps
*/*/*.png
*/*/*.pdf
*.root
build/*
*/*.pyc
**.pyc

lib/
share/

images/*

accelerator
eic_ip6
eic
ip6_build

*.swp

fieldmaps

manifest.txt
acts.txt
acts2.txt

materials-map.cbor

# local install directories
lib/
share/
setup.sh
