key,Region,Component,Sub-Component,WBS,Length (cm),Inner Radius (cm),Outer Radius (cm),Offset from Center (cm),Physical Start (cm),Physical End (cm),Volume (m³),Weight (kg),Technology,Notes
hadron_direction_end_cap_hd_flux_return_(collar),HADRON DIRECTION END CAP,HD Flux Return (Collar),,,,,,,,,17.42,"136,685",Iron,Offset: measured from center. Weight estimated as 100% iron.
hadron_direction_end_cap_hadron_calorimeter,HADRON DIRECTION END CAP,Hadron Calorimeter,,6.10.06,{{LFHCAL_length}},0,{{LFHCAL_rmax}},,{{LFHCAL_zmin}},{{LFHCAL_zmax}},31.22,"199,896","FeSc, WSc last segment",Tower size: 5cm x 5cm x 140cm including 10cm readout Offset: measured from face nearest to interaction point Weight: estimated as 79% iron and 21% plastic
hadron_direction_end_cap_hd_flux_return_(oculus),HADRON DIRECTION END CAP,HD Flux Return (Oculus),,,,,,,,,2.32,"18,205",Iron,Offset: measured from center. Weight estimated as 100% iron.
hadron_direction_end_cap_electromagnetic_calorimeter,HADRON DIRECTION END CAP,Electromagnetic Calorimeter,,6.10.05,{{EcalEndcapP_length}},{{EcalEndcapP_rmin}},{{EcalEndcapP_rmax}},,{{EcalEndcapP_zmin}},{{EcalEndcapP_zmax}},3.57,"23,048",Pb/Sc,Tower size: 2.5 cm x 2.5 cm x 30 cm including readout 10cm Offset: measured from face nearest to interaction point Weight: estimated as 85% lead glass and 15% steel
hadron_direction_end_cap_service_gap,HADRON DIRECTION END CAP,Service Gap,,,{{ForwardServiceGap_length}},,,,{{ForwardServiceGap_zmin}},{{ForwardServiceGap_zmax}},,,,Offset: measured from location nearest to interaction point
central_detector_dual_rich,CENTRAL DETECTOR,Dual RICH,,6.10.04,{{DRICH_length}},{{DRICH_rmin0}},{{DRICH_rmax2}},,{{DRICH_zmin}},{{DRICH_zmin+DRICH_length}},10.47,"1,946",Aerogel/Gas,Offset: measured from face farthest from the interaction point Volume: calculated as sum of the sub-sections Weight: based on parametric estimate from CLAS LTCC
central_detector_dual_rich_detector_section,CENTRAL DETECTOR,Dual RICH,Detector Section,,,{{DRICH_rmin0}},,,,,9.51,,,Offset: measured from face nearest to interaction point
central_detector_dual_rich_aerogel_section,CENTRAL DETECTOR,Dual RICH,Aerogel Section,,,{{DRICH_rmin0}},,,,,0.96,,,Offset: measured from face nearest to interaction point
central_detector_hd_time_of_flight/tracker,CENTRAL DETECTOR,HD Time of Flight/Tracker,,6.10.03,,,,,,,0.17,33,AC/LGAD,Offset: measured from face nearest to interaction point Weight: based on parametric estimate from SBS Gem
central_detector_barrel_flux_return,CENTRAL DETECTOR,Barrel Flux Return,,,,,,,,,64.76,"330,295",Iron,Offset: measured from center. Weight estimated as 65% iron.
central_detector_barrel_hadron_calorimeter,CENTRAL DETECTOR,Barrel Hadron Calorimeter,,6.10.06,{{HcalBarrel_length}},{{HcalBarrel_rmin}},{{HcalBarrel_rmax}},,-{{HcalBarrelBackward_zmax}},{{HcalBarrelForward_zmax}},65.2,"417,449",FeSc,Offset: measured from center. Volume: calculated as sum of the sub-sections Weight: estimated as 79% iron and 21% plastic
central_detector_barrel_hadron_calorimeter_hd_section,CENTRAL DETECTOR,Barrel Hadron Calorimeter,HD Section,,,,,,,,17.97,,,Offset: measured from face nearest to interaction point
central_detector_barrel_hadron_calorimeter_central_section,CENTRAL DETECTOR,Barrel Hadron Calorimeter,Central Section,,,,,,,,36.65,,,Offset: measured from center of detector
central_detector_barrel_hadron_calorimeter_ld_section,CENTRAL DETECTOR,Barrel Hadron Calorimeter,LD Section,,,,,,,,10.57,,,Offset: measured from face nearest to interaction point
central_detector_solenoid_magnet,CENTRAL DETECTOR,Solenoid Magnet,,6.10.07,{{Solenoid_length}},{{Solenoid_rmin}},{{Solenoid_rmax}},,-{{SolenoidBackward_zmax}},{{SolenoidForward_zmax}},13.47,"45,956",Solenoid,Weight: based on parametric estimate from CLEO II
central_detector_barrel_hd_emcal_support,CENTRAL DETECTOR,Barrel HD EMCal Support,,,,,,,,,2.03,"7,399",Steel,Offset: measured from center. Weight estimated as 100% steel.
central_detector_barrel_hd_emcal_support_exterior_plate,CENTRAL DETECTOR,Barrel HD EMCal Support,Exterior Plate,,,,,,,,0.27,"2,146",Steel,Offset: measured from center. Weight estimated as 100% steel.
central_detector_barrel_hd_emcal_support_support_ring,CENTRAL DETECTOR,Barrel HD EMCal Support,Support Ring,,,,,,,,0.67,"5,253",Steel,Offset: measured from center. Weight estimated as 100% steel.
central_detector_barrel_emcal,CENTRAL DETECTOR,Barrel EMCal,,6.10.05,{{EcalBarrel_length}},{{EcalBarrel_rmin}},{{EcalBarrel_rmax}},,-{{EcalBarrelBackward_zmax}},{{EcalBarrelForward_zmax}},9.54,"32,719",,
central_detector_barrel_emcal_exterior_cover,CENTRAL DETECTOR,Barrel EMCal,Exterior Cover,,,,,,,,0.66,,,Material needs to be specified for weight calculation
central_detector_barrel_emcal_imaging_part,CENTRAL DETECTOR,Barrel EMCal,Imaging Part,,,,,,,,3.67,"12,875",Pb+Sc+Si,Weight: based on parametric estimate from CMS EMCal
central_detector_barrel_emcal_sampling_part,CENTRAL DETECTOR,Barrel EMCal,Sampling Part,,,,,,,,5.23,"18,330",PB+Sc,Weight: based on parametric estimate from CMS EMCal
central_detector_barrel_emcal_ld_readout_electronics,CENTRAL DETECTOR,Barrel EMCal,LD Readout Electronics,,,,,,,,0.32,757,,Offset: measured from face nearest to interaction point. Weight calculated as silicon.
central_detector_barrel_emcal_hd_readout_electronics,CENTRAL DETECTOR,Barrel EMCal,HD Readout Electronics,,,,,,,,0.32,757,,Offset: measured from face nearest to interaction point. Weight calculated as silicon.
central_detector_barrel_ld_emcal_support,CENTRAL DETECTOR,Barrel LD EMCal Support,,,,,,,,,2.03,"7,399",Steel,Offset: measured from center. Weight estimated as 100% steel.
central_detector_barrel_ld_emcal_support_exterior_plate,CENTRAL DETECTOR,Barrel LD EMCal Support,Exterior Plate,,,,,,,,0.27,"2,146",Steel,Offset: measured from center. Weight estimated as 100% steel.
central_detector_barrel_ld_emcal_support_support_ring,CENTRAL DETECTOR,Barrel LD EMCal Support,Support Ring,,,,,,,,0.67,"5,253",Steel,Offset: measured from center. Weight estimated as 100% steel.
central_detector_integrated_dirc/mpgd_detector,CENTRAL DETECTOR,Integrated DIRC/MPGD Detector,,6.10.04,,,,,,,3.09,"1,344",,Detector is totally enclosed by DIRC Support. This is the entire envelope of the detector + readout Weight: calculated as sum of sub-components
central_detector_integrated_dirc/mpgd_detector_dirc_bar/mpgd__support,CENTRAL DETECTOR,Integrated DIRC/MPGD Detector,Dirc Bar/MPGD  Support,,,,,,,,1.71,671,Steel,DIRC Support is surrounded by a 1/2 centimeter cover constructed from 48 segments. Weight: estimated as 5% of total volume as steel (balance is air & detector)
central_detector_integrated_dirc/mpgd_detector_dirc_readout_support,CENTRAL DETECTOR,Integrated DIRC/MPGD Detector,DIRC Readout Support,,,,,,,,0.3,116,Steel,"Readout support is triangular frame, therefore volume is halved. Weight: estimated as 5% of total volume as steel (balance is air & detector)"
central_detector_integrated_dirc/mpgd_detector_dirc_bar_box,CENTRAL DETECTOR,Integrated DIRC/MPGD Detector,DIRC Bar Box,,,,,,,,0.69,478,Fused silica bars,Weight: calculated as 30% quartz (balance is air & support system) Offset measured from connection point between readout and bar box.
central_detector_integrated_dirc/mpgd_detector_inner_mpgd,CENTRAL DETECTOR,Integrated DIRC/MPGD Detector,Inner MPGD,,,,,,,,0.39,79,MPGD,Weight: based on parametric estimate from SBS Gem Offset: measured from center.
central_detector_barrel_time_of_flight/tracker,CENTRAL DETECTOR,Barrel Time of Flight/Tracker,,6.10.03,{{BarrelTOF_length}},{{BarrelTOF_rmin}},{{BarrelTOF_rmax}},,,,0.76,151,AC/LGAD,Weight: based on parametric estimate from SBS Gem Length in z needs to be determined
central_detector_hd_mpgd_2,CENTRAL DETECTOR,HD MPGD 2,,,,,,,,,0.02,3.854140784,,Weight: based on parametric estimate from SBS Gem Offset: measured from face nearest to interaction point
central_detector_hd_mpgd_1,CENTRAL DETECTOR,HD MPGD 1,,,,,,,,,0.02,3.854140784,,Weight: based on parametric estimate from SBS Gem Offset: measured from face nearest to interaction point
central_detector_inner_tracker_(micromegas),CENTRAL DETECTOR,Inner Tracker (Micromegas),,6.10.03,,,,,,,0.02,6,MPGD,Weight: calculated as sum of sub-components
central_detector_inner_tracker_(micromegas)_micromega_1,CENTRAL DETECTOR,Inner Tracker (Micromegas),Micromega 1,,,,,,,,0.01,1,MPGD,Weight: based on parametric estimate from SBS Gem Offset measured from center.
central_detector_inner_tracker_(micromegas)_micromega_2,CENTRAL DETECTOR,Inner Tracker (Micromegas),Micromega 2,,,,,,,,0.01,1,MPGD,Weight: based on parametric estimate from SBS Gem Offset measured from center.
central_detector_inner_tracker_(micromegas)_micromega_3,CENTRAL DETECTOR,Inner Tracker (Micromegas),Micromega 3,,,,,,,,0.01,1,MPGD,Weight: based on parametric estimate from SBS Gem Offset measured from center.
central_detector_inner_tracker_(micromegas)_micromega_4,CENTRAL DETECTOR,Inner Tracker (Micromegas),Micromega 4,,,,,,,,0.01,1,MPGD,Weight: based on parametric estimate from SBS Gem Offset measured from center.
central_detector_inner_tracker_(micromegas)_micromega_5,CENTRAL DETECTOR,Inner Tracker (Micromegas),Micromega 5,,,,,,,,0.01,1,MPGD,Weight: based on parametric estimate from SBS Gem Offset measured from center.
central_detector_inner_tracker_(si_barrel),CENTRAL DETECTOR,Inner Tracker (Si Barrel),,6.10.03,,,,,,,0.02,41,MAPS,Weight: calculated as sum of sub-components
central_detector_inner_tracker_(si_barrel)_si_layer_1,CENTRAL DETECTOR,Inner Tracker (Si Barrel),Si Layer 1,,,,,,,,0.0,1,Silicon,Offset measured from center.
central_detector_inner_tracker_(si_barrel)_si_layer_2,CENTRAL DETECTOR,Inner Tracker (Si Barrel),Si Layer 2,,,,,,,,0.0,1,Silicon,Offset measured from center.
central_detector_inner_tracker_(si_barrel)_si_layer_3,CENTRAL DETECTOR,Inner Tracker (Si Barrel),Si Layer 3,,,,,,,,0.0,2,Silicon,Offset measured from center.
central_detector_inner_tracker_(si_barrel)_si_layer_4,CENTRAL DETECTOR,Inner Tracker (Si Barrel),Si Layer 4,,,,,,,,0.0,11,Silicon,Offset measured from center.
central_detector_inner_tracker_(si_barrel)_si_layer_5,CENTRAL DETECTOR,Inner Tracker (Si Barrel),Si Layer 5,,,,,,,,0.01,26,Silicon,Offset measured from center.
central_detector_inner_tracker_(si_disks),CENTRAL DETECTOR,Inner Tracker (Si Disks),,6.10.03,,,,,,,0.71,397,MAPS,Weight: calculated as sum of sub-components
central_detector_inner_tracker_(si_disks)_hd_disk_1,CENTRAL DETECTOR,Inner Tracker (Si Disks),HD Disk 1,,,,,,,,0.0,9,Silicon,Offset: measured from center.
central_detector_inner_tracker_(si_disks)_hd_disk_2,CENTRAL DETECTOR,Inner Tracker (Si Disks),HD Disk 2,,,,,,,,0.01,34,Silicon,Offset: measured from center.
central_detector_inner_tracker_(si_disks)_hd_disk_3,CENTRAL DETECTOR,Inner Tracker (Si Disks),HD Disk 3,,,,,,,,0.01,34,Silicon,Offset: measured from center.
central_detector_inner_tracker_(si_disks)_hd_disk_4,CENTRAL DETECTOR,Inner Tracker (Si Disks),HD Disk 4,,,,,,,,0.01,33,Silicon,Offset: measured from center.
central_detector_inner_tracker_(si_disks)_hd_disk_5,CENTRAL DETECTOR,Inner Tracker (Si Disks),HD Disk 5,,,,,,,,0.01,33,Silicon,Offset: measured from center.
central_detector_inner_tracker_(si_disks)_ld_disk_1,CENTRAL DETECTOR,Inner Tracker (Si Disks),LD Disk 1,,,,,,,,0.0,9,Silicon,Offset: measured from center.
central_detector_inner_tracker_(si_disks)_ld_disk_2,CENTRAL DETECTOR,Inner Tracker (Si Disks),LD Disk 2,,,,,,,,0.01,34,Silicon,Offset: measured from center.
central_detector_inner_tracker_(si_disks)_ld_disk_3,CENTRAL DETECTOR,Inner Tracker (Si Disks),LD Disk 3,,,,,,,,0.01,34,Silicon,Offset: measured from center.
central_detector_inner_tracker_(si_disks)_ld_disk_4,CENTRAL DETECTOR,Inner Tracker (Si Disks),LD Disk 4,,,,,,,,0.01,34,Silicon,Offset: measured from center.
central_detector_inner_tracker_(si_disks)_ld_disk_5,CENTRAL DETECTOR,Inner Tracker (Si Disks),LD Disk 5,,,,,,,,0.01,33,Silicon,Offset: measured from center.
central_detector_ld_mpgd_1,CENTRAL DETECTOR,LD MPGD 1,,,,,,,,,0.02,3.897722278,,Weight: based on parametric estimate from SBS Gem Offset: measured from face nearest to interaction point
central_detector_ld_mpgd_2,CENTRAL DETECTOR,LD MPGD 2,,,,,,,,,0.02,3.897722278,,Weight: based on parametric estimate from SBS Gem Offset: measured from face nearest to interaction point
central_detector_proximity_focusing_rich,CENTRAL DETECTOR,Proximity Focusing RICH,,6.10.04,,,,,,,0.55,102.5775939,Aerogel + Gas,Alternative Technology to mRICH Offset: measured from center. Weight: based on parametric estimate from CLAS LTCC
central_detector_ld_emcal,CENTRAL DETECTOR,LD EMCal,,6.10.05,{{EcalEndcapN_length}},{{EcalEndcapN_rmin}},{{EcalEndcapN_rmax}},,-{{EcalEndcapN_zmax}},-{{EcalEndcapN_zmin}},0.73,"4,738",PbWO4,Offset: measured from face nearest to interaction point Weight: estimated as 85% lead glass and 15% steel
central_detector_service_gap,CENTRAL DETECTOR,Service Gap,,,,,,,,,,,,Offset: measured from location nearest to interaction point
lepton_direction_endcap_ld_flux_return_(oculus),LEPTON DIRECTION ENDCAP,LD Flux Return (Oculus),,,,,,,,,2.3,"18,031",Iron,Offset: measured from center. Weight estimated as 100% iron.
lepton_direction_endcap_ld_flux_return_(collar),LEPTON DIRECTION ENDCAP,LD Flux Return (Collar),,,,,,,,,12.34,"96,805",Iron,Offset: measured from center. Weight estimated as 100% iron.
lepton_direction_endcap_backward_hcal,LEPTON DIRECTION ENDCAP,Backward HCal,,6.10.06,,,,,,,10.06,"64,390","FeSc, WSc",Offset: measured from face nearest to interaction point Weight: estimated as 79% iron and 21% plastic
lepton_direction_endcap_ld_flux_return_(exterior),LEPTON DIRECTION ENDCAP,LD Flux Return (Exterior),,,,,,,,,2.23,"17,536",Iron,Offset: measured from center. Weight estimated as 100% iron.
design_alternatives_ld_flux_return_(exterior),DESIGN ALTERNATIVES,LD Flux Return (Exterior),,,,,,,,,,,,
central_detector_alternatives_modular_rich,CENTRAL DETECTOR ALTERNATIVES,Modular RICH,,6.10.04,,,,,,,0.52,97,Aerogel,Alternative Technology pfRICH  (see alternatives table below) Offset: measured from face nearest to interaction point Weight: based on parametric estimate from CLAS LTCC
central_detector_alternatives_barrel_emcal_alternative,CENTRAL DETECTOR ALTERNATIVES,Barrel EMCal Alternative,,6.10.05,,,,,,,17.91,"49,434",,Weight: calculated as sum of sub-components
central_detector_alternatives_barrel_emcal_alternative_emcal_outer_surface,CENTRAL DETECTOR ALTERNATIVES,Barrel EMCal Alternative,EMCal Outer Surface,,,,,,,,0.97,"2,623",Aluminum,Weight: calculated as 100% Aluminum
central_detector_alternatives_barrel_emcal_alternative_emcal_electronics,CENTRAL DETECTOR ALTERNATIVES,Barrel EMCal Alternative,EMCal Electronics,,,,,,,,3.93,"2,287",Near eta=0,Weight: calculated as 25% silicon (balance is air)
central_detector_alternatives_barrel_emcal_alternative_emcal_crystals,CENTRAL DETECTOR ALTERNATIVES,Barrel EMCal Alternative,EMCal Crystals,,,,,,,,12.58,"44,119",Sci Glass,Weight: based on parametric estimate from CMS EMCal
central_detector_alternatives_barrel_emcal_alternative_emcal_inner_surface,CENTRAL DETECTOR ALTERNATIVES,Barrel EMCal Alternative,EMCal Inner Surface,,,,,,,,0.08,204,Aluminum,Weight: calculated as 100% Aluminum
central_detector_alternatives_barrel_emcal_alternative_offset_(air),CENTRAL DETECTOR ALTERNATIVES,Barrel EMCal Alternative,Offset (Air),,,,,,,,0.29,0,Air,Air
central_detector_alternatives_barrel_emcal_alternative_aluminum_plate,CENTRAL DETECTOR ALTERNATIVES,Barrel EMCal Alternative,Aluminum plate,,,,,,,,0.07,201,Aluminum,Weight: calculated as 100% Aluminum
"central_detector_alternatives_inner_tracker_(si,_mpgd)",CENTRAL DETECTOR ALTERNATIVES,"Inner Tracker (Si, MPGD)",,6.10.03,,,,,,,3.36,509,MAPS,Alternative based on pfRich. This envelope includes the Si disks in the lepton and hadron direction as well as the barrel tracker. Weight: calculated as 3% aluminum and 3% silicon (balance is air)
"central_detector_alternatives_inner_tracker_(si,_mpgd)",CENTRAL DETECTOR ALTERNATIVES,"Inner Tracker (Si, MPGD)",,,,,,,,,,,,
"central_detector_alternatives_inner_tracker_(si,_mpgd)",CENTRAL DETECTOR ALTERNATIVES,"Inner Tracker (Si, MPGD)",,,,,,,,,,,,
"central_detector_alternatives_inner_tracker_(si,_mpgd)",CENTRAL DETECTOR ALTERNATIVES,"Inner Tracker (Si, MPGD)",,,,,,,,,,,,
