Region,Component,Sub-Component,WBS,Length (cm),Inner Radius (cm),Outer Radius (cm),Offset from Center (cm),Physical Start (cm),Physical End (cm),Volume (m³),Weight (kg),Technology,Notes
"HADRON DIRECTION END CAP",Hadron Calorimeter,,6.10.06,171,30,267,328,499,328,,,"FeSc, WSc last segment","Tower size: 5cm x 5cm x 140cm, 20cm readout
Offset: measured from face nearest to interaction point
Volume: calculated as cylindrical volume minus the volume of the embedded ECAL
Weight: estimated as 79% iron and 21% plastic"
,Electromagnetic Calorimeter,,6.10.05,{{EcalEndcapP_length}},{{EcalEndcapP_rmin}},{{EcalEndcapP_rmax}},328,366,328,,,Pb/Sc,"Tower size: 1cm (1.65cm) x 1cm(1.65cm) x 37.5cm, 5cm readout
Offset: measured from face nearest to interaction point
Weight: estimated as 85% lead glass and 15% steel"
,Service Gap,,,8,,,320,328,320,,,,Offset: measured from location nearest to interaction point
"CENTRAL DETECTOR",Barrel Hadron Calorimeter,,6.10.06,{{HcalBarrel_length}},{{HcalBarrel_rmin}},{{HcalBarrel_rmax}},0,320,-320,,,FeSc,"Offset: measured from center of detector
Volume: calculated as sum of the sub-sections
Weight: estimated as 79% iron and 21% plastic"
,,HD Section,,170,194,267,150,320,150,,,,Offset: measured from face nearest to interaction point
,,Central Section,,300,180,267,0,150,-150,,,,Offset: measured from center of detector
,,LD Section,,170,194,267,-150,-150,-320,,,,Offset: measured from face nearest to interaction point
,Dual RICH,,6.10.04,100,10,,180,280,180,,,Aerogel/Gas,"Offset: measured from face nearest to interaction point
Volume: calculated as sum of the sub-sections
Weight: based on parametric estimate from CLAS LTCC"
,,Detector Section,,80,10,195,200,280,200,,,,Offset: measured from face nearest to interaction point
,,Aerogel Section,,20,10,110,180,200,180,,,,Offset: measured from face nearest to interaction point
,Solenoid Magnet,,6.10.07,{{Solenoid_length}},{{Solenoid_rmin}},{{Solenoid_rmax}},0,{{SolenoidForward_zmax}},{{-SolenoidBackward_zmax}},,,Solenoid,Weight: based on parametric estimate from CLEO II 
,EMCal Outer Support,,,445,134,140,-30,192.5,-252.5,,,"Steel, Instrumented",Weight: calculated as 20% of total volume as steel (balance is air)
,EMCal Electronics,,,480,125.5,134,-45,195,-285,,,Near eta=0,Weight: calculated as 25% silicon (balance is air)
,Barrel EMCal,,6.10.05,480,80,125.5,-45,195,-285,,,Sci Glass,Weight: based on parametric estimate from CMS EMCal 
,EMCal Inner Support,,,480,79.5,80,-45,195,-285,,,Steel,Weight: calculated as 100% steel
,Barrel Gem Tracker,,6.10.03,340,77,79.5,-5,165,-175,,,muRWell (plane type),Weight: based on parametric estimate from SBS Gem
,DIRC Support ,,,455,65,77,-257,168,-287,,,Steel,"Offset: measured from point where DIRC bar connects to the readout
Volume: calculated as sum of sub-sections
Weight: estimated as 5% of total volume as steel (balance is air & detector)"
,,Bar Support,,425,65,77,-257,168,-257,,,,
,,Readout Support,,30,65,105,-257,-257,-287,,,,"Readout support is triangular frame, therefore volume is halved."
,DIRC Detector,,6.10.04,,71.5,76.6,-257,168,-287,,,Fused silica bars,"Detector is totally enclosed by DIRC Support.
Weight: calculated as sum of sub-components"
,,DIRC Bar,,425,71.5,76.6,-257,168,-257,,,,Weight: calculated as 30% quartz (balance is air & support system)
,,DIRC Readout,,30,71.5,104.4,-257,-257,-287,,,,"Readout is triangular, therefore volume is halved.
Weight: Calculated as 30% silicon(balance is air & support system)"
,Barrel Time of Flight/Tracker,,6.10.03,270,63,65,15,150,-120,,,AC/LGAD,Weight: based on parametric estimate from SBS Gem
,HD Time of Flight/Tracker,,6.10.03,15,12,62,155.5,170.5,155.5,,,AC/LGAD,"Offset: measured from face nearest to interaction point
Weight: based on parametric estimate from SBS Gem"
,Silicon Tracker,,6.10.03,228,3,45.9,0,126,-102,,,MAPS,Weight: calculated as 3% aluminum and 3% silicon (balance is air)
,Modular RICH,,6.10.04,25,10,64,-135,-135,-160,,,Aerogel,"Offset: measured from face nearest to interaction point
Weight: based on parametric estimate from CLAS LTCC"
,LD Time of Flight/Tracker,,6.10.03,10,12,64,-161,-161,-171,,,AC/LGAD,"Offset: measured from face nearest to interaction point
Weight: based on parametric estimate from SBS Gem"
,LD EMCal,,6.10.05,{{ EcalEndcapN_length }},9,63,-175,-175,-235,,,PbWO4,"Offset: measured from face nearest to interaction point
Weight: estimated as 85% lead glass and 15% steel"
,Service Gap,,,10,,,-320,-320,-330,0.00,,,Offset: measured from location nearest to interaction point
"LEPTON DIRECTION ENDCAP",Backward Field Return,,6.10.06,20.32,,,-330,-330,-350.32,,,Iron,"Offset: measured from face nearest to interaction point
Weight: calculated as 100% iron."
,,Return Cylinder,,20.32,20,270,-330,-330,-350.32,,,,
,,Support Panel,,7.62,454,664,-336.35,-336.35,-343.97,,,,"Height: specified in outer radius
Width: specified in inner radius"
