{#
   This is the master template for the geometry description

   Template variables can be defined in yml or json files,
   or they can be applied on the command line with `-D`.
-#}

<lccdd xmlns:compact="http://www.lcsim.org/schemas/compact/1.0"
       xmlns:xs="http://www.w3.org/2001/XMLSchema"
       xs:noNamespaceSchemaLocation="http://www.lcsim.org/schemas/compact/1.0/compact.xsd">

  <debug>
    <type name="surface"       value="0"/>
    <type name="material"      value="0"/>
    <type name="readout"       value="0"/>
    <type name="segmentation"  value="0"/>
    <type name="limits"        value="0"/>
    <type name="region"        value="0"/>
    <type name="includes"      value="0"/>
  </debug>

  <documentation level="-1">
  # EPIC Detector
  - https://github.com/eic/epic
  - https://github.com/eic/ip6
  </documentation>

  <!-- Some information about detector  -->
  <info name="EPIC Detector" title="EPIC Detector"
        author="EPIC Collaboration"
	url="https://github.com/eic/epic"
	status="development"
	version="v1 2021-03-16">
  <comment> EPIC </comment>
  </info>

  <!-- Standard environmental conditions: 20 °C, 1 atm -->
  <std_conditions type="NTP"/>

  <define>
    <documentation level="2">
      ## Main Constant Definitions

      The ip6 (or other ip) defines should be included first.
      These files have only a define tags.
    </documentation>
    <include ref="${DETECTOR_PATH}/compact/far_forward/fields_{{ pbeam | default("275", true) }}.xml" />
    <include ref="${DETECTOR_PATH}/compact/far_forward/definitions.xml" />
    <include ref="${DETECTOR_PATH}/compact/definitions.xml" />
    <include ref="${DD4hepINSTALL}/DDDetectors/compact/detector_types.xml"/>
  </define>

  <includes>
    <gdmlFile ref="${DD4hepINSTALL}/DDDetectors/compact/elements.xml"/>
    <gdmlFile ref="${DETECTOR_PATH}/compact/materials.xml"/>
  </includes>
  <include ref="${DETECTOR_PATH}/compact/optical_materials.xml"/>

  <limits>
    <limitset name="EICBeamlineLimits">
      <limit name="step_length_max" particles="*" value="1.0" unit="mm" />
      <limit name="track_length_max" particles="*" value="1.0" unit="mm" />
      <limit name="time_max" particles="*" value="0.1" unit="ns" />
      <limit name="ekin_min" particles="*" value="0.001" unit="MeV" />
      <limit name="range_min" particles="*" value="0.1" unit="mm" />
    </limitset>
    <limitset name="cal_limits">
      <limit name="step_length_max" particles="*" value="5.0" unit="mm"/>
    </limitset>
  </limits>

  <display>
    <include ref="${DETECTOR_PATH}/compact/{{colors | default("colors.xml", true) }}"/>
    <include ref="${DETECTOR_PATH}/compact/{{display | default("display.xml", true) }}"/>
  </display>

  <documentation level="0">
    ## World Volume

    The world is a simple box, but could be a union of multiple regions.
  </documentation>
  <world material="Air">
    <shape type="Box" dx="world_dx" dy="world_dy" dz="world_dz"/>
  </world>

  <documentation level="0">
    ## Detector Subsystems

    ### IP Subsystems

    The interaction point subsystems are included before the central detector subsystems.
    This is becuase the IP subsystems, for example the beampipe, will define paramters
    which are subsquently used in the central detector construction -- e.g. the vertex tracker
    uses the beampipe OD to help define its placement.

    The IP subsystems include the Far forward and backward regions. The list of subsystem includes:
     - Interaction region beampipe
     - B0 tracker
     - Off-momentum tracker
     - Far forward roman pots
     - Zero Degree Calorimeter
     - Beam line magnets.
     - and more...
  </documentation>

{% if 'solenoid' in features %}
  <documentation level="5">
    ## Main magnet and its field
  </documentation>
  <include ref="${DETECTOR_PATH}/compact/solenoid.xml"/>
  <include ref="${DETECTOR_PATH}/compact/fields/marco.xml"/>
{% endif -%}

{% if 'fields' in features %}
  <documentation level="5">
    ## Electric and magnetic fields
  </documentation>
  {% for field in features['fields'] -%}
  <include ref="${DETECTOR_PATH}/compact/fields/{{ field }}.xml"/>
  {% endfor -%}
{% endif -%}

{% if 'tracking' in features %}
  <documentation level="10">
    ## Central tracking detectors
  </documentation>

  {% for tracker in features['tracking'] -%}
  <include ref="${DETECTOR_PATH}/compact/tracking/{{ tracker }}.xml"/>
  {% endfor -%}
{% endif -%}

{% if 'pid' in features %}
  <documentation level="10">
    ## PID detectors
  </documentation>
  {% for pid in features['pid'] -%}
  <include ref="${DETECTOR_PATH}/compact/pid/{{ pid }}.xml"/>
  {% endfor -%}
{% endif -%}

{% if 'ecal' in features %}
  <documentation level="10">
    ## Central EM calorimetry
  </documentation>
  {% for ecal in features['ecal'] -%}
  <include ref="${DETECTOR_PATH}/compact/ecal/{{ ecal }}.xml"/>
  {% endfor -%}
{% endif -%}

{% if 'hcal' in features %}
  <documentation level="10">
    ## hadronic calorimetry
  </documentation>

  {% for hcal in features['hcal'] -%}
  <include ref="${DETECTOR_PATH}/compact/hcal/{{ hcal }}.xml"/>
  {% endfor -%}
{% endif -%}

{% if 'beampipe' in features %}
  <documentation level="11">
    ## Central beam pipe
  </documentation>
  <include ref="${DETECTOR_PATH}/compact/central_beampipe.xml"/>
  <include ref="${DETECTOR_PATH}/compact/forward_electron_beampipe.xml"/>
{% endif -%}

{% if 'far_forward' in features %}
  <documentation level="11">
    ## Far foward detectors
  </documentation>
  {% for ff in features['far_forward'] -%}
  <include ref="${DETECTOR_PATH}/compact/{{ ff }}.xml"/>
  {% endfor -%}
{% endif -%}

{% if 'far_backward' in features %}
  <documentation level="11">
    ## Far backward detectors
  </documentation>
  {% for fb in features['far_backward'] -%}
  <include ref="${DETECTOR_PATH}/compact/{{ fb }}.xml"/>
  {% endfor -%}
{% endif -%}

</lccdd>
