<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Read a ROOT file</title>
      <link rel="shortcut icon" href="https://root.cern/js/latest/img/RootIcon.ico"/>
   </head>
   <body>
      <div id="simpleGUI" path="./artifacts/tgeo" files="epic_craterlake.root;epic_inner_detector.root">
         loading scripts ...
      </div>
      <script type="module">
         import { buildGUI } from 'https://root.cern/js/latest/modules/gui.mjs';
         buildGUI("simpleGUI");
      </script>
   </body>
</html>
