name: Check tracking geometry

on:
  workflow_call:
    inputs:
      detector_configs:
        required: true
        type: string

jobs:
  check-tracking-geometry:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        detector_config: ${{fromJson(inputs.detector_configs)}}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/download-artifact@v6
      with:
        name: build-gcc-nightly-fast-eic-shell
        path: install/
    - uses: cvmfs-contrib/github-action-cvmfs@v5
    - uses: eic/run-cvmfs-osg-eic-shell@main
      with:
        platform-release: "eic_xl:nightly"
        network_types: "none"
        setup: install/bin/thisepic.sh
        run: |
          /usr/bin/time -v \
          root -b -q "scripts/test_ACTS_gen1.cxx+(\"${DETECTOR_PATH}/${{matrix.detector_config}}.xml\")" | tee check_tracking_geometry.out
          bin/acts_geo_check check_tracking_geometry.out

          /usr/bin/time -v \
          root -b -q "scripts/test_ACTS_gen3.cxx+(\"${DETECTOR_PATH}/${{matrix.detector_config}}.xml\")" | tee check_tracking_geometry.out
    - uses: actions/upload-artifact@v5
      with:
        name: ${{matrix.detector_config}}.obj
        path: |
          *.obj
          *.mpl
    - uses: actions/upload-artifact@v5
      with:
        name: ${{matrix.detector_config}}.ply
        path: |
          *.ply
